.post-wrapper {
    position: relative;
    min-height: 84px;
    margin-top: 12px;
    
    .post-wrapper>h2 {
        text-align: center;
        margin: 0;
        color: #8f8f8f;
    }
    .post {
        display: block;
        padding: 12px;
        border-top: 1px solid #b7b7b76e;
        word-break: break-all;
        p {
            white-space: pre-line;
            margin: 0;
            display: inline-table;
        }
    }
}