button {
    float: right;
    border: 1px transparent;
    border-radius: 4px;
    padding: 7px 20px;
    background-color: $fb-color;
    color: white;
    outline: none;
}
button[disabled="disabled"] {
    background-color: lighten($fb-color, 30%);
    cursor: not-allowed;
}

button:not([disabled="disabled"]):hover {
    background-color: darken($fb-color, 30%);
    cursor: pointer;
}
